@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");

$primary: #5ab9a7;
$font-stack: sans-serif;
$primary-color: #42a5f5;
$secondary-color: #ab47bc;
$enigma-primary-color: #005689;

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  // width: 100%;
  // height: 100vh;
}

header {
  background-color: $enigma-primary-color;
  color: #fff;
  padding: 20px 0;
  margin: auto;
  // styling
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999; //biar ngga numpuk
}

#sticky {
  // position: fixed;
  top: 0;
  width: 100%;
}

#nav {
  position: fixed;
}

.navbar-logo {
  font-size: 2rem;
  margin-left: 20px;
  font-weight: 600;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  float: left;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase; //memaksa jadi uppercase
}

// CSS Pseudo-classes
// .navbar ul li a:hover {
//     text-decoration: none;
//     color: yellow;
// }

.navbar ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: #18a1fc;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  display: flex;
}

.bio {
  max-height: 100%;
  color: black;
  flex: 3;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $primary;
  .img-wrapper {
    img {
      width: 250px;
    }
  }
  .contact {
    h1 {
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      margin: 20px 0;

      color: white;
    }
    .contact-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      .icon-bio {
        i {
          font-size: 20px;
          color: white;
        }
      }
      .value-bio {
        font-size: 18px;
        color: white;
        letter-spacing: 1px;
        font-family: "Poppins", sans-serif;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
    .expertise-wrapper {
      ul {
        font-size: 20px;
        letter-spacing: 1px;
        font-family: "Poppins", sans-serif;
        color: white;
        li {
          margin-left: -15px;
          margin-bottom: 26px;
        }
      }
    }
  }
}

.profile {
  background: rgb(247, 247, 247);
  height: 100vh;
  flex: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  .about-me {
    font-family: "Poppins", sans-serif;
    .name {
      h1,
      h2 {
        text-align: center;
        margin: 0;
        line-height: 60px;
      }
      h1 {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-size: 40px;
      }
      h2 {
        font-family: "Roboto", sans-serif;
        font-size: 35px;
      }
    }
    .desc {
      padding: 40px;
      p {
        font-size: 18px;
        line-height: 38px;
        text-align: justify;
      }
    }
  }
  .line {
    width: 80%;
    height: 1px;
    background: black;
  }
  .work-experince {
    width: 93%;
    h1 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-size: 40px;
      margin-bottom: 10px;
    }
    .experience {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      .company {
        font-size: 30px;
        font-weight: bold;
      }
      .year {
        font-weight: bold;

        font-size: 25px;
      }
    }
    .title {
      font-size: 24px;
    }
    .job-desc {
      ul {
        li {
          font-size: 20px;
          margin-bottom: 10px;
          text-align: justify;
          line-height: 30px;
        }
      }
    }
  }
}
